
<form [formGroup]="form" (ngSubmit)="save()">

  <p-toast></p-toast>

  <p-dialog [(visible)]="accessLevelDialog" [style]="{width: '450px'}" header="Nuevo Permiso" [modal]="true" class="p-fluid">

      <ng-template pTemplate="content">

        <div class="field">

          <label for="name">{{ translatedStrings['accessLevels']['name'] }}</label>
          <input formControlName="name" type="text" pInputText id="name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.name}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.name">Este campo es requerido.</small>

        </div>


      </ng-template>

      <ng-template pTemplate="footer">

          <button  type="button" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"></button>

      </ng-template>

  </p-dialog>

</form>
