
<form [formGroup]="form" (ngSubmit)="save()">

  <p-toast></p-toast>

  <p-dialog [(visible)]="tagDialog" [style]="{width: '450px'}" header="Nueva Etiqueta" [modal]="true" class="p-fluid">

      <ng-template pTemplate="content">

          <div class="field">
              <label for="firstName">{{ translatedStrings['tags']['name'] }}</label>
              <input formControlName="name" type="text" pInputText id="name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.name}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.name">Este campo es requerido.</small>
          </div>

          <div class="field">
              <label for="entities">{{ translatedStrings['tags']['entity'] }}</label>
              <p-dropdown [options]="entity" formControlName="entities" id="entities" optionLabel="name" optionValue="id" placeholder="Selecciona una entidad" [showClear]="true" [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.entities}"></p-dropdown>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.entities"></small>
          </div>

      </ng-template>

      <ng-template pTemplate="footer">
          <button  type="button" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"></button>
           <!-- Alerta de éxito -->
      </ng-template>
  </p-dialog>
</form>
