<div class="grid">

  <div class="col-12">

    <p-toast></p-toast>

      <div class="card px-6 py-6">
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button
                          pButton pRipple
                          label="{{ translatedStrings['hcps']['new'] }}"
                          icon="pi pi-plus"
                          class="p-button-success mr-2"
                          (click)="dialogNewHcp()">
                      </button>


                      <button
                          pButton pRipple
                          label="{{ translatedStrings['hcps']['delete'] }}"
                          icon="pi pi-trash"
                          class="p-button-danger mr-2"
                          (click)="deleteSelectedHcps()"
                          [disabled]="!selectedHcps || !selectedHcps.length">
                      </button>

                  </div>
              </ng-template>
          </p-toolbar>

          <p-table
              #dt
              responsiveLayout="scroll"
              currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
              selectionMode="multiple"
              [rowHover]="true"
              dataKey="id"
              [value]="hcps"
              [rows]="10"
              [columns]="cols"
              [paginator]="true"
              [globalFilterFields]="['firstName','lastName','birthSex', 'type']"
              [rowsPerPageOptions]="[10,20,30]"
              [showCurrentPageReport]="true"
              [(selection)]="selectedHcps" >

              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h5 class="m-0">{{ translatedStrings['hcps']['list'] }}</h5>
                      <span class="block mt-2 md:mt-0 p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                      </span>
                  </div>
              </ng-template>

              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      <th pSortableColumn="id">{{ translatedStrings['hcps']['id'] }}<p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="firstName">{{ translatedStrings['hcps']['firstName'] }}<p-sortIcon field="firstName"></p-sortIcon></th>
                      <th pSortableColumn="lastName">{{ translatedStrings['hcps']['lastName'] }}<p-sortIcon field="lastName"></p-sortIcon></th>
                      <th pSortableColumn="entities">{{ translatedStrings['hcps']['entities'] }}<p-sortIcon field="entities"></p-sortIcon></th>
                      <th pSortableColumn="professionalLicense">{{ translatedStrings['hcps']['professionalLicense'] }}<p-sortIcon field="professionalLicense"></p-sortIcon></th>
                      <th pSortableColumn="birthSex">{{ translatedStrings['hcps']['birthSex'] }}<p-sortIcon field="birthSex"></p-sortIcon></th>
                      <th></th>

                  </tr>
              </ng-template>

              <ng-template pTemplate="body" let-hcp>
                  <tr>
                      <td>
                          <p-tableCheckbox [value]="hcp"></p-tableCheckbox>
                      </td>
                      <td style="width:10%; min-width:auto;"><span class="p-column-title">{{ translatedStrings['hcps']['id'] }}</span>
                          {{ ( hcp.id ) ? hcp.id :  translatedStrings['warnings']['noData'] }}
                      </td>
                      <td style="width:18%; min-width:4rem;">
                          <span class="p-column-title">{{ translatedStrings['hcps']['firstname'] }}</span>
                          {{ ( hcp.firstName ) ? hcp.firstName :  translatedStrings['warnings']['noData'] }}
                      </td>
                      <td style="width:18%; min-width:10rem;">
                          <span class="p-column-title">{{  translatedStrings['hcps']['lastname'] }}</span>
                          {{ ( hcp.lastName ) ? hcp.lastName :  translatedStrings['warnings']['noData'] }}
                      </td>
                      <td style="width:18%; min-width:10rem;">
                          <span class="p-column-title">{{  translatedStrings['hcps']['entity'] }}</span>
                          {{ ( hcp.hcpTypes ) ? hcp.hcpTypes.name :  translatedStrings['warnings']['noData'] }}
                      </td>
                      <td style="width:18%; min-width:10rem;">
                        <span class="p-column-title">{{  translatedStrings['hcps']['professionalLicense'] }}</span>
                          {{ ( hcp.professionalLicense ) ? hcp.professionalLicense :  translatedStrings['warnings']['noData'] }}
                    </td>
                      <td style="width:18%; min-width:10rem;">
                          <span class="p-column-title">{{  translatedStrings['hcps']['birthSex'] }}</span>
                          <span [class]="'product-badge status-' + (this.birthSex && this.birthSex[hcp.birthSex] ? this.birthSex[hcp.birthSex].badge : '')">
                            {{ this.birthSex && this.birthSex[hcp.birthSex] ? this.birthSex[hcp.birthSex].name : '' }}
                          </span>

                      </td>
                      <td>
                          <div class="flex">
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="dialogEditHcp(hcp)"></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="dialogDeleteHcp(hcp)"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>

      <app-dialog-hcp></app-dialog-hcp>

      <app-remove-hcp></app-remove-hcp>


  </div>
</div>
