<div class="grid">

  <div class="col-12">

      <p-toast></p-toast>

      <div class="card px-6 py-6">
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button
                          pButton pRipple
                          label="{{ translatedStrings['users']['new'] }}"
                          icon="pi pi-plus"
                          class="p-button-success mr-2"
                          (click)="dialogNewUser()">
                      </button>

                      <button
                          pButton pRipple
                          label="{{ translatedStrings['users']['delete']  }}"
                          icon="pi pi-trash"
                          class="p-button-danger mr-2"
                          (click)="deleteSelectedUsers()"
                          [disabled]="!selectedUsers || !selectedUsers.length">
                      </button>

                  </div>
              </ng-template>
          </p-toolbar>

          <p-table
              #dt
              responsiveLayout="scroll"
              currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
              selectionMode="multiple"
              [rowHover]="true"
              dataKey="id"
              [value]="users"
              [rows]="10"
              [columns]="cols"
              [paginator]="true"
              [globalFilterFields]="['firstName','lastName','birthSex', 'maritalStatus']"
              [rowsPerPageOptions]="[10,20,30]"
              [showCurrentPageReport]="true"
              [(selection)]="selectedUsers" >

              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h5 class="m-0">{{ translatedStrings['users']['list'] }}</h5>
                      <span class="block mt-2 md:mt-0 p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                      </span>
                  </div>
              </ng-template>

              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      <th pSortableColumn="id">{{ translatedStrings['users']['id'] }} <p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="firstName">{{ translatedStrings['users']['firstName'] }} <p-sortIcon field="firstName"></p-sortIcon></th>
                      <th pSortableColumn="lastName">{{ translatedStrings['users']['lastName'] }} <p-sortIcon field="lastName"></p-sortIcon></th>
                      <th pSortableColumn="birthSex">{{ translatedStrings['users']['birthSex'] }}<p-sortIcon field="birthSex"></p-sortIcon></th>
                      <th pSortableColumn="mobilePhone">{{ translatedStrings['users']['mobilePhone'] }}<p-sortIcon field="mobilePhone"></p-sortIcon></th>
                      <th pSortableColumn="email">{{ translatedStrings['users']['email'] }}<p-sortIcon field="email"></p-sortIcon></th>
                      <th></th>

                  </tr>
              </ng-template>

              <ng-template pTemplate="body" let-user>
                  <tr>
                      <td>
                          <p-tableCheckbox [value]="user"></p-tableCheckbox>
                      </td>
                      <td style="width:5%; min-width:5rem;"><span class="p-column-title">{{ translatedStrings['users']['id'] }}</span>
                        {{ ( user.id ) ? user.id :  translatedStrings['warnings']['noData'] }}

                      </td>
                      <td style="width:10%; min-width:10rem;">
                          <span class="p-column-title">{{ translatedStrings['users']['firstName'] }} </span>
                        {{ ( user.firstName ) ? user.firstName :  translatedStrings['warnings']['noData'] }}
                      </td>
                      <td style="width:10%; min-width:10rem;">
                          <span class="p-column-title">{{ translatedStrings['users']['lastName'] }} </span>
                        {{ ( user.lastName ) ? user.lastName :  translatedStrings['warnings']['noData'] }}
                      </td>
                      <td style="width:10%; min-width:10rem;">
                          <span class="p-column-title">{{ translatedStrings['users']['birthSex'] }}</span>
                          <span [class]="'product-badge status-' + this.birthSex[user.birthSex].badge">
                          {{ this.birthSex && this.birthSex[user.birthSex] ? this.birthSex[user.birthSex].name : '' }}
                          </span>
                      </td>
                      <td style="width:10%; min-width:10rem;">
                          <span class="p-column-title">{{ translatedStrings['users']['mobilePhone'] }} </span>
                          {{ ( user.mobilePhone ) ? user.mobilePhone :  translatedStrings['warnings']['noData'] }}
                       </td>
                       <td style="width:10%; min-width:10rem;">
                          <span class="p-column-title">{{ translatedStrings['users']['email'] }} </span>
                          {{ ( user.email ) ? user.email :  translatedStrings['warnings']['noData'] }}
                        </td>

                      <td>
                          <div class="flex">
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="dialogEditUser( user )"></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="dialogDeleteUser( user )"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>

      <app-dialog-user></app-dialog-user>

      <app-remove-user></app-remove-user>

  </div>
</div>
