<form [formGroup]="form" (ngSubmit)="save()">

  <p-toast></p-toast>

  <p-dialog [(visible)]="hcpDialog" [style]="{width: '450px'}" header="Nuevo Personal" [modal]="true" class="p-fluid">

      <ng-template pTemplate="content">

          <div class="field">
              <label for="firstName">{{ translatedStrings['hcps']['firstName'] }}</label>
              <input formControlName="firstName" type="text" pInputText id="firstName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.firstName}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.firstName">{{ translatedStrings['general']['requiredField'] }}</small>
          </div>

          <div class="field">
              <label for="lastName">{{ translatedStrings['hcps']['lastName'] }}</label>
              <input formControlName="lastName" type="text" pInputText id="lastName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.lastName}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.lastName">{{ translatedStrings['general']['requiredField'] }}</small>
          </div>

          <div class="field">
            <label for="birthSex">{{ translatedStrings['hcps']['birthSex'] }}</label>
            <p-selectButton [options]="birthSex" id="birthSex" formControlName="birthSex" optionLabel="name" optionValue="value" [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.birthSex}"></p-selectButton>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.birthSex"></small>
        </div>

          <div class="field">
              <label for="birthDate">{{ translatedStrings['hcps']['birthDate'] }}</label>
              <p-calendar [showIcon]="true" inputId="icon" formControlName="birthDate" id="birthDate" [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.birthDate}"></p-calendar>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.birthDate"></small>
          </div>

          <div class="field">
            <label for="professionalLicense">{{ translatedStrings['hcps']['professionalLicense'] }}</label>
            <input formControlName="professionalLicense" type="string" pInputText id="professionalLicense" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.professionalLicense}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.professionalLicense">{{ translatedStrings['general']['requiredField'] }}</small>
          </div>

          <div class="field">
              <label for="type">{{ translatedStrings['hcps']['type'] }}</label>
              <p-dropdown [options]="type" formControlName="type" id="type" placeholder="Selecciona un estado civil" [showClear]="true" [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.type}"></p-dropdown>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.type"></small>
          </div>

        <div class="field">
              <label for="hcpTypeId">{{ translatedStrings['hcps']['hcpType'] }}</label>
              <p-dropdown [options]="hcpTypes" formControlName="hcpTypeId" id="hcpTypeId" optionLabel="name" optionValue="id" placeholder="Selecciona una entidad" [showClear]="true" [ngClass]="{'ng-invalid ng-dirty' : submitted && !form.value.hcpTypeId}"></p-dropdown>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !form.value.hcpTypeId"></small>
          </div>

      </ng-template>

      <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"></button>
      </ng-template>
  </p-dialog>
</form>
